<article class="">
    <div class="container">
        <% @child.each do |sponsored|%>
            <div class="teams grid-4">
                <ul>
                    <li class="animated out" data-animation="fadeInUp" data-delay="100">
                        <div class="team-box">
                            <h4 class="well-small" style="background-color:#efefef;"><%= sponsored.name %><span class="badge pull-right">AGE:<%= sponsored.age %></span></h4>
                            <div class="image-box">
                                <figure class="image">
                                    <%= image_tag sponsored.avatar(:medium) %> 
                                    <figcaption>
                                        <br/>
                                        <br/>
                                        <%= link_to 'Sponsor this child', root_path%>
                                    </figcaption>
                                </figure>
                            </div>
                            
                            <p class="well" align="left"><%= sponsored.description %></p>
                        </div>
                    </li>

                </ul>
            </div>
        <% end %>
    </div>
</article>