<article class="">
    <div class="container">
        <div class="row">
            <div class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                <% @child.each do |sponsored|%>
                    <div class="col-lg-3">
                        <div class="image-box">
                            <figure class="image">
                                <%= image_tag sponsored.avatar(:medium) %> 
                                <figcaption>
                                    <br/>
                                    <br/>
                                    <%= link_to 'Sponsor this child', root_path%>
                                </figcaption>
                            </figure>
                            <div class="" style="background-color:#57270A;">
                                <h4 class="" style="background-color:#efefef;"><%= sponsored.name %><span class="badge pull-right">AGE:<%= sponsored.age %></span>
                                </h4>
                                <%= truncate(sponsored.description, :length => 30 )%>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="label"><%= paginate @child %></div>
    </div>
</article>
