<div class="jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7" style="">
                <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                    <h2 style="color:#fff;">Juna Amagara Ministries</h2>

                </header>


                <p>
                  
                    The mission of this ministry is to raise up and equip children in Uganda with the tools they need to become leaders within their community. 
                    It is our vision to empower their personal and spiritual growth by providing children with safe shelter, quality education, balanced nutrition, health education and vocational training 
                    
                
                </p>
                <!-- HIv section -->
                  <div class="testimonials-section">
                    <div class="caro-fade animated flipInX in" data-animation="flipInX" data-delay="0">

                      <div class="testimonials">
                            <figure class="image img-rounded">
                                <%= image_tag("sponsor.png", :size => "180x120",:class=>"img-circle")%>
                            </figure>
                            <h4 class="color-theme">A Ministry of Hope for AIDS Orphans in Uganda</h4>
                            
                            <p align="left"> 
                                The HIV/AIDS epidemic is destroying families and entire cultures throughout Africa.  But in Uganda, there is hope. This East African Republic long ago built a coalition of government, churches and schools that has worked to dramatically slow the spread of HIV/AIDS and offer relief to infected victims.e
                                <button type="button" class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#amagara">
                                  Read more...
                                </button>
                                <div id="amagara" class="collapse" align="left">
                                  
                                  More than a million people have died here since the disease began, leaving over 1.5 million children without parents.
                                  Though Ugandans have taken in more than 700,000 orphans as their own children, some 800,000 are left to care for themselves. Juna Amagara Ministries was founded in 2004 to help these children grow in Christ to become healthy, productive members of society. Juna Amagara means "Save Life."   
                                </div>
                             
                            </p>

                            <button class="btn btn-warning btn-block"><a class="" href="http://vimeo.com/88617114">Click to watch 10TH universary video</a></button> 

                            <div class="fb-like" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;amp;ref_type=logout_gear" data-width="433" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
                      
                    </div>

                        </div>
                    </div>

                      
                  </div>
                </div>
            
                <div class="col-md-5 col-lg-5" style="background-color:#884500;">
                  <div class="counter"  style="width:455px;">
                    <marquee behavior="alternate" class="btn-warning"><font size="+2" class="badge badge-info"><h4>Click here before you continue &raquo;<%= image_tag("logo.png", :size=> '30x30', :class=> "img-circle")%></h4></font></marquee>
                  
                      <div class="event-bx">
                        <h4><a href="#">Juna Amagara</a></h4>
                        <ul class="options">
                          <li><i class="icon-map-marker"></i>Saving lives in Uganda</li>
                        </ul>
                        <p>
                          For $35 per month you support a child to receive quality education, medical care, Spiritual nurturing and Balanced nutrition in a loving and caring environment.
                        </p>
                            <%= link_to "Sponsor a child", root_path %>
                      </div>
                  </div>         
                  <button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target="#mdl_example">Check out our Bible Study &raquo;
                  </button>

                  <span class="">

                    <div class="fb-like" data-href="https://www.facebook.com/JunaAmagara" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                  </span>
                    
                    <div class="modal fade" id="mdl_example">
                    <div class="modal-dialog" role="modal">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-hidden="true">×</button>
                          <h4 class="modal-title"><font>Welcome to JAM Bible Study</font></h4>
                        </div>
                        <div class="modal-body" style="background-color:#884500;">
                          <p class="well">
                            Helo Bible
                          </p>
                          <p>
                              <div class="fb-comments" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="550x300" data-numposts="4" data-colorscheme="light"></div>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                          </button>
                          <button type="button" class="btn btn-success">
                            Go to the blog.
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                              
                <br/><br/>
                <div class="panel panel-warning">
                <div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>Juna Amagara saving Lifes &raquo;</b></div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12 col-xs-12">
                          <ul class="demo1">
                            <% @achievement.each do |ministry|%>
                              <li class="news-item">
                                <table cellpadding="4">
                                  <tr>
                                    <td><%= image_tag ministry.avatar(), :class=> "img-circle", :size => "83x83", :crop => :fill, :align =>"center"%></td>
                                    <td><%= truncate(ministry.description, :length => 120 )%><%= link_to 'read more', faqsnews_news_path, :class=>"btn btn-warning btn-xs"%> 
                                        
                                    </td>
                                  </tr>
                                </table>
                              </li>
                            <% end %>
                             
                          </ul>
                          </div>
                        </div>
                       
                      </div>
                    <div class="panel-footer"> </div>
                </div>
             
          </div>
        </div>
    </div>
</div>  

<br/><br><br/><br/><hr/>


<article class="section" style="background-color:wheat">
    <div class="container">

        <div class="row">
            <header class="heading text-center animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <h2>Our Ministries </h2>
             </header>
            <div class="col-md-12 col-sm-12 col-xs-12" style="color:">

                <% @ministry.each do |ministry|%>
                  <div class="col-md-4 col-sm-6 col-xs- 6 animated pulse in" data-animation="pulse" data-delay="200">
                        <div class="caption" style="padding:20px 0px; color:#000;">
                          
                          <%= image_tag ministry.avatar(), :class=> "img-rounded", :size => "318x220", :crop => :fill, :align =>"center"%>
                          <div class="caption"> 
                            <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                              <%= ministry.title.upcase %>
                            </header>  
                            <p class=""><%= truncate(ministry.description, :length => 30 )%><%= link_to 'read more', faqsnews_news_path%></p>
                          </div>
                        </div>
                    </div>
                <% end %>
        </div>
      </div>
      <header class="heading text-center animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
          <h2>Work in progress</h2>
       </header>
        
        <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="row">
                <% @event.each do |event|%>
                    <div class="col-lg-4 col-md-4 contents ">
                        <div class="projects projects-list">
                            <ul class="media-list">
                                
                                <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                                    <figure class="hover-strip pull-left">
                                        <%= image_tag event.avatar, :class=>"media-object", :alt=>"image" %>
                                        <div class="date-tag">JAM</div>
                                    </figure>
                                    <div class="media-body">
                                        <h4 class="media-heading"><b><%= event.title %></b></h4>
                                        <small align="left"><%= truncate(event.description, :length => 111 )%>
                                        </small>
                                        <b class="btn btn-warning btn-sm"><%= link_to 'read more', faqsnews_news_path%>
                                        </b>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                       
                    </div>
                <% end %>
            </div> 
        </div>
  </article>


<article style="background-color:#57270A; padding:20px 0px;">
  <font color="white">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
            <div class="panel-body">
              <div id="MyCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#MyCarousel" data-slide-to="1"></li>
                <li data-target="#MyCarousel" data-slide-to="2"></li>
                <li data-target="#MyCarousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag("5.JPG", :class => "")%>
                   <div class="carousel-caption right-caption">Sponsor a child</div>
                </div>
                <div class="item">
                  <%= image_tag("6.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Make a donation</div>
                </div>
                <div class="item">
                  <%= image_tag("3.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Raise a great generation</div>
                </div>
                <div class="item">
                  <%= image_tag("4.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Feed the hungry and help the poor</div>
                </div>
              </div>
              <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#MyCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
            </div>

          </div>
        </div>  
          <div class="col-md-6">
            <h2>You have helped us achieve</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="figure">
                  <%= image_tag("1.JPG", :size => "130x100")%>
                </div>
              </div>
              <div class="col-md-9">
                <p>
                  Your support has enabled us to give quality education for the childen in need and enable them.
                  There is still alot of work to educate many of the children that need this same support.Therefore we need your support
                  <a class="btn btn-xs btn-warning" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">
                    Make a Donation
                  </a> 
                </p>
              </div>
            </div>
              <hr/>
              <div class="col-md-3">
                <div class="figure">
                    <%= image_tag("2.JPG", :size => "130x100")%>
                </div>
              </div>
              <div class="col-md-9">
                <p>
                  Your support has enabled us to put up structures for the needy childen to build them into what God created.We still have a long way to accomplish these construction. Became part of this.
                  <a class="btn btn-xs btn-warning" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">
                    Make a Donation
                  </a>
                </p>
              </div>
          </div>
  
    </div>
  </div>
  </font>  
        
</article>
