<div class="jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7" style="">
                <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                    <h2 style="color:#fff;">Juna Amagara Ministries</h2>
                </header>
                <p>
                    The mission of this ministry is to raise up and equip children in Uganda with the tools they need to become leaders within their community.  It is our vision to empower their personal and spiritual growth by providing children with safe shelter, quality education, balanced nutrition, health education and vocational training
                </p>
                <button class="btn"><a class="">Click to watch 10TH universary video</a></button>
            </div>
            
            <div class="col-md-5 col-lg-5" style="background-color:#BC7630;">
               
                <div class="panel panel-default">
                    <div class="panel-body">
                    
                    <div id="MyCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#MyCarousel" data-slide-to="1"></li>
                      <li data-target="#MyCarousel" data-slide-to="2"></li>
                      <li data-target="#MyCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                         <div class="carousel-caption right-caption">Sponsor a child</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">Make a donation</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">Raise a great generation</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">Feed the hungry and help the poor</div>
                      </div>

                
                    </div>
                    <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
                      <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#MyCarousel" data-slide="next">
                      <span class="icon-next"></span>
                    </a>
                  </div>
            </div>

        </div>
    </div>
</div>  

<article class="section bg-theme">
    <div class="container">
        <div class="row" style="height:100px">
        <div class="col-md-5">
            <div class="testimonials-section">
                <div class="caro-fade animated flipInX in" data-animation="flipInX" data-delay="0">
                    <div class="testimonials">
                        <figure class="image">
                            <%= image_tag("logo.png")%>
                        </figure>
                        <h4 class="color-theme">A Ministry of Hope for AIDS Orphans in Uganda</h4>
                        
                        <p align="left"> 
                        The HIV/AIDS epidemic is destroying families and entire cultures throughout Africa.  But in Uganda, there is hope. This East African Republic long ago built a coalition of government, churches and schools that has worked to dramatically slow the spread of HIV/AIDS and offer relief to infected victims. More than a million people have died here since the disease began, leaving over 1.5 million children without parents. Though Ugandans have taken in more than 700,000 orphans as their own children, some 800,000 are left to care for themselves. Juna Amagara Ministries was founded in 2004 to help these children grow in Christ to become healthy, productive members of society. Juna Amagara means "Save Life."
                        </p>
                    </div>
                </div>
       
            </div>
        </div>
        <div class="col-md-3">
            <div class="fb-like-box" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="700x700" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

            <br>
             <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <h2>Watch video</h2>
            </header>
                <iframe src="http://player.vimeo.com/video/88617114?title=0&byline=0&portrait=0&color=00b952" width="971" height="228" frameborder="0"></iframe>
        </div>
        <div class="col-md-3">
            <div class="fb-comments" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="300x300" data-numposts="3" data-colorscheme="light"></div>

        </div>
    </div>
</article>



<article class="section" style="background-color:#EFEFEF; color:black">
    <div class="container">
        <header class="heading text-center animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
            <h2>Work in progress</h2>
         </header>
            <div class="row">

        <% @event.each do |event|%>
                <div class="col-lg-4 col-md-4 contents">
                    <div class="projects projects-list">
                        <ul class="media-list">
                            <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                                
                                <br>
                                
                            </li>
                            <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                                <figure class="hover-strip pull-left">
                                    <%= image_tag event.avatar, :class=>"media-object", :alt=>"image" %>
                                    <div class="date-tag">JAM</div>
                                </figure>
                                <div class="media-body">
                                    <h3 class="media-heading btn-warning"><%= event.title %></h3>
                                    <p class="" align="left"><%= truncate(event.description, :length => 110 )%>
                                    </p>
                                    <p class="label label-warning"><%= link_to 'read more', faqsnews_news_path%>
                                    </p>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                   
                </div>
            
            <% end %>
        </div>
        <div class="row">
             <header class="heading text-center animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <h2>Our Ministries </h2>
             </header>

            <% @ministry.each do |ministry|%>
                <div class="col-md-3 col-sm-6 col-xs-6 animated pulse in" data-animation="pulse" data-delay="200">
                    <div class="portfolio-box">
                        
                        <figure class="">
                            
                            <%= image_tag ministry.avatar %>
                            <figcaption>
                                <a href="saved_resource.html" class="btn btn-default">Donate Now</a>
                            </figcaption>
                        </figure>

                       <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                                <font><%= ministry.title %></font>
                        </header>
                        <p  align="left"  class="well"><%= truncate(ministry.description, :length => 15 )%><%= link_to 'read more', faqsnews_news_path%></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</article>

<article class="section">
    <div class="container">

        <header class="heading text-center animated flipInX in" data-animation="flipInX" data-delay="0">
            <h2 style="color:white">You've helped achieve...</h2>
        </header>
        <p class="text-center margn-btm-80 animated flipInX in" data-animation="flipInX" data-delay="200"></p>
              
    </div>

</article>          
