<div class="jumbo">
    <div class="container">
            <div class="row">
              <header class="heading animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                    <h3 style="color:#fff;">SAVING LIVES OF ORPHANS, TRANSFORMING THEIR GUARDIANS COMMUNITIES</h3>
              </header>
              <div class="col-md-7 col-lg-7" style="">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <div class="counter"  style="width:655px;">
                      <h4 style="background-color:wheat;"><%= image_tag "jam.png", :size => "130x40"%></h4>
                        <div class="event-bx">
                          <h4><a href="#"><%= image_tag "jam.png", :size => "590x400"%></a></h4>
                         
                        </div>
                    </div>
                    
                    <div class="counter" style="width:655px;">
                      <h4 style="color:#000;"><b>DELTA</b><%= image_tag "blackboard.jpg", :size => "40x40", :style=>" margin-left:1px;" %></h4>
                        <div class="event-bx">
                          <h4><a href="#">Development, Education, Learning & Training Advancement</a></h4>
                          
                         
                        </div>
                    </div>

                    <div class="counter"  style="width:655px;">
                      <h4 style="color:#000;"><b>ABIDE</b><%= image_tag "bible.jpg", :size => "40x40", :style=>" margin-left:1px;" %></h4>
                        <div class="event-bx">
                          <h4><a href="#">Development, Education, Learning & Training Advancement</a></h4>
                          
                         
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <div class="counter"  style="width:655px;">
                      <h4 style="background-color:#fff;"><%= image_tag "camera1.jpg", :size => "40x40", :style=>" margin-left:80px;" %></h4>
                        <div class="event-bx">
                          <h4><a href="#">Children And Mothers' Endangerment Reduction Advocacy</a></h4>
                         
                        </div>
                    </div>

                    
                    <%= image_tag("sponsor.png",:class=>"img-rounded", :size => "220x200")%>
                  </div>
                  <div class="col-md-6 col-lg-6" style="">
                      <div class="counter"  style="width:655px;">
                        <h4><%= image_tag "ambulance.png", :size => "40x40" %></h4>
                          <div class="event-bx">
                            <h4><a href="#">Children And Mothers' Endangerment Reduction Advocacy</a></h4>
                           
                          </div>
                      </div>

                      The mission of this ministry is to raise up and equip children in Uganda with the tools they need to become leaders within their community. 
                      It is our vision to empower their personal and spiritual growth by providing children with safe shelter, quality education, balanced nutrition, health education and vocational training 
                  </div>
                </div>

                <!-- HIv section -->
                  <div class="testimonials-section">
                    <div class="caro-fade animated flipInX in" data-animation="flipInX" data-delay="0">

                      

                  </div>
              </div>
            </div>

                      

            
                <div class="col-md-5 col-lg-5" style="background-color:#884500;">
                  <div class="counter"  style="width:455px;">
                    <marquee behavior="alternate" class="btn-warning"><font size="+2" class="badge badge-info"><h4>Click here before you continue &raquo;<%= image_tag("logo.png", :size=> '30x30', :class=> "img-circle")%></h4></font></marquee>
                  
                      <div class="event-bx">
                        <h4><a href="#">Juna Amagara</a></h4>
                        <ul class="options">
                          <li><i class="icon-map-marker"></i>Saving lives in Uganda</li>
                        </ul>
                        <div class="row">
                          <div class="col-md-12">
                              For only $35.00 per month, about a dollar a day, you can literally save the life of an orphan child in Uganda. In a place where there is no working welfare system, where tens of thousands of children live in child-headed families,
                              
                              <button type="button" class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#comment">
                                Read more...
                              </button>
                              
                              <div id="comment" class="collapse">
                                 where they do hard, menial labor just to earn one meal a day, you can give a child hope.
                                 Look at these faces. You may choose to sponsor a specific child or simply donate to help as many as possible.
                              </div>
                            
                            <hr/>
                          </div>
                          <div class="col-md-4">
                            <%= image_tag("connie.jpg",:size=>"100x120", :class=> "img-circle")%>
                          </div>
                          <div class="col-md-8">
                            Become a patner, volunteer or a sponsor to join us in this great campaign of saving lives<br/>                             <a href="#" class="btn btn-warning btn-xs">Volunteer</a>
                            <a href="#" class="btn btn-warning btn-xs">Became a patner</a>
                            <a href="#" class="btn btn-warning btn-xs">Sponsor</a>
                            
                          </div>
                        </div>
                            <a class="btn btn-warning btn-block" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">Sponsor a child</a>
                      </div>
                  </div>         
                  <button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target="#mdl_example">Check out our Bible Study &raquo;
                  </button>

                  <span class="">

                    <div class="fb-like" data-href="https://www.facebook.com/JunaAmagara" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                  </span>
                    
                    <div class="modal fade" id="mdl_example">
                    <div class="modal-dialog" role="modal">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-hidden="true">×</button>
                          <h4 class="modal-title"><font>Welcome to JAM Bible Study</font></h4>
                        </div>
                        <div class="modal-body" style="background-color:#884500;">
                          <p class="well">
                            Helo Bible
                          </p>
                          <p>
                              <div class="fb-comments" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="550x300" data-numposts="4" data-colorscheme="light"></div>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                          </button>
                          <button type="button" class="btn btn-success">
                            Go to the blog.
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                              
                <br/><br/>
                <div class="panel panel-warning">
                <div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>Juna Amagara saving Lives &raquo;</b></div>
                    <div class="panel-body">
                </div>
              </div>

              <button class="btn btn-warning btn-block"><a class="" href="http://vimeo.com/88617114">Click to watch 10TH universary video</a></button> 

                <div class="fb-like" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;amp;ref_type=logout_gear" data-width="433" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
          
             
          </div>
        </div>
    </div>
</div>  

<hr/>




<article style="background-color:#57270A; padding:20px 0px;">
  <font color="white">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
            <div class="panel-body">
              <div id="MyCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#MyCarousel" data-slide-to="1"></li>
                <li data-target="#MyCarousel" data-slide-to="2"></li>
                <li data-target="#MyCarousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag("5.JPG", :class => "")%>
                   <div class="carousel-caption right-caption">Sponsor a child</div>
                </div>
                <div class="item">
                  <%= image_tag("6.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Make a donation</div>
                </div>
                <div class="item">
                  <%= image_tag("3.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Raise a great generation</div>
                </div>
                <div class="item">
                  <%= image_tag("4.JPG", :class => "")%>
                  <div class="carousel-caption right-caption">Feed the hungry and help the poor</div>
                </div>
              </div>
              <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#MyCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
            </div>

          </div>
        </div>  
          <div class="col-md-6">
            <h2>You have helped us achieve</h2>
            <div class="row">
              <div class="col-md-3">
                <div class="figure">
                  <%= image_tag("1.JPG", :size => "130x100")%>
                </div>
              </div>
              <div class="col-md-9">
                <p>
                  Your support has enabled us to give quality education for the childen in need and enable them.
                  There is still alot of work to educate many of the children that need this same support.Therefore we need your support
                  <a class="btn btn-xs btn-warning" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">
                    Make a Donation
                  </a> 
                </p>
              </div>
            </div>
              <hr/>
              <div class="col-md-3">
                <div class="figure">
                    <%= image_tag("2.JPG", :size => "130x100")%>
                </div>
              </div>
              <div class="col-md-9">
                <p>
                  Your support has enabled us to put up structures for the needy childen to build them into what God created.We still have a long way to accomplish these construction. Became part of this.
                  <a class="btn btn-xs btn-warning" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">
                    Make a Donation
                  </a>
                </p>
              </div>
          </div>
  
    </div>
  </div>
  </font>  
        
</article>
