
<header class="site-header header-home" >
    <!-- tp-bar -->
    <div class="tp-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <!-- logo -->
              <div class="logo image">
                  <a href="#"><%= image_tag("logo.png", :size=> '110x110')%></a>
                  <a><h3 class="brand" style="color:#fff;">JUNA AMAGARA MINISTRIES</h3></a> 
              </div> 
            </div> 

            <div class="col-md-9">
               
                ﻿<div class="alert alert-warning alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                  </button>
                  <strong>SAVE LIFE MINISTRIES&raquo;</strong>
                  Juna Amagara means Save Life. For $35 per month you support a child.<a class ="btn btn-warning btn-sm" href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=tCa6TZIkmVMK9bkK7-sJKcL2tK7ZqeZdf80s7XSW6jT6OpUiiS_AnLGLkWolizZo0Z2uYdZlicQx46dF6cOx7i8TtSL7tzLcpZBviH7r5SgRqyy98M_YLV6eu9rtiD85jtYCf9uPWsrZrP3Cmq2xVb66ELaGrI_cq2RjRTEI48E=&ver=3">Donate &raquo;</a>
                </div>
                
                
            </div>
            <div class="col-md-2">
              <!-- counter ends -->
              
            </div>
            </div>
          </div>

            
        </div>
    </div>

    <!-- navbar Main Navigation -->
    <div class="navbar " role="navigation" style="background-color:wheat;">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">
                Toggle navigation
              </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      
      <div class="collapse navbar-collapse heading text-center animated flipInX in" id="bs-example-navbar-collapse-1" data-animation="flipInX" data-delay="0">
          <ul class="nav navbar-nav">
              <li class="active animated fadeInUp in" data-animation="fadeInUp" data-delay="0"><%= link_to "Home", root_path %></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">
                      About <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Founders", about_whoweare_path %></li>
                    <li><%= link_to "USA board", about_usaboard_path %></li>
                    <li><%= link_to "Uganda board", about_ugandaboard_path %></li>
                    <li><%= link_to "JAM staff", about_staff_path %></li>
                    <li><%= link_to "About Uganda", about_uganda_path  %></li>
                  </ul>
              </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown animated fadeInUp in" data-animation="fadeInUp" data-delay="200">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Contruction<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><%= link_to "Mbarara", construction_mbarara_path %></li>
                     <li><%= link_to "Kabale", construction_kabale_path%></li>
                     <li><%= link_to "Hoima", construction_hoima_path%></li>
                     <li><%= link_to "Rubanda", construction_kabale_path%></li>
                     <li><%= link_to "Kishanje", construction_hoima_path%></li>
                  </ul>
              </li>


              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Ministries
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Children", minstry_children_path  %></li>
                    <li><%= link_to "Education", minstry_education_path %></li>
                    <li><%= link_to "Discipleship", minstry_discipleship_path %></li>
                    <li><%= link_to "Vocational", minstry_vacational_path %></li>
                  </ul>
              </li>

              <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="500"><%= link_to "Sponsorship", sponsorship_index_path %></li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Ministry Partners <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Village Bible Church" %></li>
                    <li><%= link_to "First Presbyterian Church, GE" %></li>
                    <li><%= link_to "First Presbyterian Church, CC" %></li>
                    <li><%= link_to "Rotary Club of Glen Ellyn" %></li>
                    <li><%= link_to "Rotary Club of Wheaton" %></li>
                    <li><%= link_to "Rotary Club of Kampala" %></li>
                    <li><%= link_to "Rotary International" %></li>
                    <li><%= link_to "Crosswalk Fellowship" %></li>
                    <li><%= link_to "The Outreach Foundation" %></li>
                    <li><%= link_to "Children's Hope Chest" %></li>
                    <li><%= link_to "Others" %></li>
                  </ul>
              </li>

              <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="500"><%= link_to "Mission Trips", mission_index_path %></li>
               <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="800"><%= link_to "Contact", contact_index_path%></li>


              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Faqs/News <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Faqs", faqsnews_faqs_path %></li>
                    <li><%= link_to "News", faqsnews_news_path %></li>
                  </ul>
              </li>
              <% if user_signed_in? %>
              <li class="active animated fadeInUp in" data-animation="fadeInUp" data-delay="0"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% end %>
            </ul>
        </div>
        
        
    </div>
</header>

<article class="parallex-section banner back">
</article>
<div class="bg"></div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <%if notice %>
          ﻿<div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              ×
            </button>
            <font color="green"><%= notice %></font>
          </div>
      <% end %>

      <%if alert %>
          ﻿<div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              ×
            </button>
            <font color="red"><%= alert %></font>
          </div>
      <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
 
