
<header class="site-header header-home" >
    <!-- tp-bar -->
    <div class="tp-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <!-- logo -->
              <div class="logo image">
                  <a href="#"><%= image_tag("logo.png", :size=> '110x110')%></a>
                  <a><h1 class="brand" style="color:#fff;">JUNA AMAGARA MINISTRIES</h1></a> 
              </div> 
            </div> 

            <div class="col-md-5">
               
                ﻿<div class="alert alert-warning alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                  </button>
                  <strong>SAVE LIFE MINISTRIES>>></strong>
                  Juna Amagara means Save Life. For $35 per month you support a child.
                </div>
                <font color="green"><%= notice %></font>
                <font color="red"><%= alert %></font>
                
            </div>
            <div class="col-md-2">
              <!-- counter ends -->
              <div class="counter"><br/>
                <font class="btn btn-lg btn-warning">Donate <%= image_tag("sponsor.png", :size=> '30x30', :class=> "img-circle")%></font>
                
                <div class="event-bx">
  					      <h4><a href="#">Juna Amagara</a></h4>
                      <ul class="options">
                      	<li><i class="icon-map-marker"></i>Saving lives in Uganda</li>
                      </ul>
                      <p>For $35 per month you support a child to receive quality education, medical care, Spiritual nurturing and Balanced nutrition in a loving and caring environment.</p>
                      <%= image_tag("sponsor.png", :size=> '200x200')%>
                      <div class="event-bx-btm btn btn-warning btn-block">
                      	<%= link_to "Sponsor a child", root_path %>
                      </div>
                  </div>
              </div>
            </div>
            </div>
          </div>

            
        </div>
    </div>

    <!-- navbar Main Navigation -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">
                Toggle navigation
              </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      
      <div class="collapse navbar-collapse heading text-center animated flipInX in" id="bs-example-navbar-collapse-1" data-animation="flipInX" data-delay="0">
          <ul class="nav navbar-nav">
              <li class="active animated fadeInUp in" data-animation="fadeInUp" data-delay="0"><%= link_to "Home", root_path %></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">
                      About <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Founders", about_whoweare_path %></li>
                    <li><%= link_to "USA board", about_usaboard_path %></li>
                    <li><%= link_to "Uganda board", about_ugandaboard_path %></li>
                    <li><%= link_to "JAM staff", about_staff_path %></li>
                    <li><%= link_to "About Uganda", about_uganda_path  %></li>
                  </ul>
              </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown animated fadeInUp in" data-animation="fadeInUp" data-delay="200">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Contruction<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><%= link_to "Mbarara", construction_mbarara_path %></li>
                     <li><%= link_to "Kabale", construction_kabale_path%></li>
                     <li><%= link_to "Hoima", construction_hoima_path%></li>
                     <li><%= link_to "Rubanda", construction_kabale_path%></li>
                     <li><%= link_to "Kishanje", construction_hoima_path%></li>
                  </ul>
              </li>


              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Ministries
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Children", minstry_children_path  %></li>
                    <li><%= link_to "Education", minstry_education_path %></li>
                    <li><%= link_to "Discipleship", minstry_discipleship_path %></li>
                    <li><%= link_to "Vocational", minstry_vacational_path %></li>
                  </ul>
              </li>

              <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="500"><%= link_to "Sponsorship", sponsorship_index_path %></li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Ministry Partners <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Village Bible Church" %></li>
                    <li><%= link_to "First Presbyterian Church, GE" %></li>
                    <li><%= link_to "First Presbyterian Church, CC" %></li>
                    <li><%= link_to "Rotary Club of Glen Ellyn" %></li>
                    <li><%= link_to "Rotary Club of Wheaton" %></li>
                    <li><%= link_to "Rotary Club of Kampala" %></li>
                    <li><%= link_to "Rotary International" %></li>
                    <li><%= link_to "Crosswalk Fellowship" %></li>
                    <li><%= link_to "The Outreach Foundation" %></li>
                    <li><%= link_to "Children's Hope Chest" %></li>
                    <li><%= link_to "Others" %></li>
                  </ul>
              </li>

              <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="800"><%= link_to "Mission Trips" %></li>
               <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="800"><%= link_to "Contact"%></li>


              <li class="dropdown">
                  <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Faqs/News <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Faqs", faqsnews_faqs_path %></li>
                    <li><%= link_to "News", faqsnews_news_path %></li>
                  </ul>
              </li>

            </ul>
        </div>
        <div class="pull-right">
            <ul class="social-links">
                
            </ul>
        </div>
        
        <div class="site-search">
            <span class="search-btn"></span>
            <div class="search-contain">
                <form method="post" action="#">
                    <input type="text" placeholder="Search...">
                    <input type="submit">
                </form>
                <p class="lead btn btn-lg btn-block btn-warning animated fadeInUp in" data-animation="fadeInUp" data-delay="0">**Donate**
                  <a href="#"><%= image_tag("logo.png", :size=> '40x40')%></a>
                </p>
            </div>

        </div>
        
    </div>
</header>

<article class="parallex-section banner">
</article>
<div class="bg"></div>
