<!DOCTYPE html>
<html>
	<head>
	  <title>Jamsavelife</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <style type="text/css">
	    body{
	      font-size: 160%;
	      color:#590707;

	    }
	  </style>
    </head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= yield %>
		</div>
		<%= render :partial => 'layouts/footer' %>
		<script type="text/javascript">
		  $(document).ready(function() {
		    $('.carousel').carousel({interval: 3000});
		  });
		</script>
		<script>
			// very simple to use!
			$(document).ready(function() {
			  $('.js-activated').dropdownHover().dropdown();
			});
		</script>
	</body>
</html>#590707
